<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hortensie.ai_trader">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".xAPI.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".xAPI.xApiConnectionLogin" />
        <activity android:name=".xAPI.xApiUiInput" />
        <activity android:name=".xAPI.SymbolRecyclerViewer" />
        <activity android:name=".xAPI.PeriodSelector" />
        <activity android:name=".xAPI.CandleChartDrawer" />
        <activity android:name=".xAPI.MainApiActivity"/>
        <activity android:name=".dbTester.view.RxView"/>
        <activity android:name=".dbTester.view.MainDbTester"/>
        <activity android:name=".dbTester.view.DetailActivity"/>
    </application>

</manifest>